<%= javascript_tag do %>

 routeJson ="<%= spree.gestion_products_path(:format => 'json', :limit => 10) %>";
$.fn.productSearch = function(){
  $(this).objectPickerCustom(routeJson);
}
<%end%>
<%=form_tag gestion_reduction_create_path%>
<%= label_tag(:promo, "promo (en pc)") %>
<%= text_field_tag(:promo)%></br>

<%=product_picking("reduction[products]","")%>

<%= javascript_tag do %>
$(document).ready(function () {
    $("#my_search_field").productSearch();
});
<%end%>
<div id="variants_selectors">
	<input type="text" name ="reduction[master_variants][]" value id="variants_id_list" style="display:none;">

	<p id="ancrageSelectBox">Select variant</p>
	<div class="var_box">
	</div>
	<input type="submit">
	</form>
</div>

<div id="reductions_list">
<% @product_and_variants.each do |prod,variants| %>
	<p><%=prod.name%></p>
	<table>
	<%	variants.each do |variant| %>
	<tr><td><%= variant.option_values.first.presentation unless variant.option_values.first.nil?%></td><td> <%=variant.reduction%></td><td><%=link_to_delete(variant,:url => "/gestion/reductions/#{variant.id}")%> </td></tr>
	<%end%>
	</table>
<%end%>
</div>
<%=link_to "Annuler toutes les promotions", gestion_reduction_reset_path%>